.side
  .side__header
    .side__header__items
      .side__header__items__name
        natsu
      .side__header__items__icon

        = link_to "#" do
          = icon('far', 'edit',  class: "side__header__items__icon")
        = link_to "#" do
          = icon('fas', 'cog',  class: "side__header__items__icon")
  .side__main
    .side__main__group__name
      techcamp
    .side__main__group__text
      まだメッセージがありません

